.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.App > article {
  flex: 1;
}

.pokemon-card {
  margin: 15px;
  max-width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

footer,
header {
  width: 100vw;
}

.move-list {
  padding: 10px;
  list-style: none;
}
.move-item {
  text-align: left;
  padding: 5px;
}

.move-item:hover {
  background-color: #eee;
}
.poke-list {
  display: flex;
  flex-wrap: wrap;
}
